In [1]:
from selenium import webdriver      
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
from datetime import datetime
import locale

In [ ]:
# Configura o caminho para o arquivo do chromedriver

In [2]:
PATH="C:\Program Files (x86)\chromedriver.exe"
driver = webdriver.Chrome(PATH)

<ipython-input-2-14ceff8fa825>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

In [3]:
# Endereço dos dados históricos do bitcoin na Coin Market Cap

In [4]:
CMC_PAGE_URL="https://coinmarketcap.com/currencies/bitcoin/historical-data/"
driver.get(CMC_PAGE_URL)

In [ ]:
# Links a serem clicados para a navegação no calendário dos dados históricos

In [5]:
paths=[
'/html/body/div[1]/div/div[1]/div[2]/div/div[3]/div/div/div[1]/div[1]/span/button',
'/html/body//div/div[1]/div/div/div[1]/div[1]/div/div/div[2]/div[1]/div[1]/span[2]',
'/html/body//div/div[1]/div/div/div[1]/div[1]/div/div/div[2]/div[1]/div[1]/span[2]',
'/html/body/div[1]/div/div[1]/div[2]/div/div[3]/div/div/div[1]/div[1]/div/div/div[1]/div/div/div[1]/div[1]/div/div/div[2]/div[1]/div[1]/div[2]/span[4]',
'/html/body/div[1]/div/div[1]/div[2]/div/div[3]/div/div/div[1]/div[1]/div/div/div[1]/div/div/div[1]/div[1]/div/div/div[2]/div[1]/div[1]/div[1]/span[1]',
'/html/body/div[1]/div/div[1]/div[2]/div/div[3]/div/div/div[1]/div[1]/div/div/div[1]/div/div/div[1]/div[1]/div/div/div[2]/div[2]/div[1]/div[3]',
'/html/body/div[1]/div/div[1]/div[2]/div/div[3]/div/div/div[1]/div[1]/div/div/div[1]/div/div/div[1]/div[1]/div/div/div[2]/div[1]/div[1]/span[2]',
'/html/body/div[1]/div/div[1]/div[2]/div/div[3]/div/div/div[1]/div[1]/div/div/div[1]/div/div/div[1]/div[1]/div/div/div[2]/div[1]/div[1]/span[2]',
'/html/body/div[1]/div/div[1]/div[2]/div/div[3]/div/div/div[1]/div[1]/div/div/div[1]/div/div/div[1]/div[1]/div/div/div[2]/div[1]/div[1]/div[2]/span[10]',
'/html/body/div[1]/div/div[1]/div[2]/div/div[3]/div/div/div[1]/div[1]/div/div/div[1]/div/div/div[1]/div[1]/div/div/div[2]/div[1]/div[1]/div[1]/span[12]',
'/html/body/div[1]/div/div[1]/div[2]/div/div[3]/div/div/div[1]/div[1]/div/div/div[1]/div/div/div[1]/div[1]/div/div/div[2]/div[2]/div[2]/div[4]',
'/html/body/div[1]/div/div[1]/div[2]/div/div[3]/div/div/div[1]/div[1]/div/div/div[1]/div/div/div[2]/span/button']

In [6]:
# Executa o clique no calendário a fim de selecionar a faixa de data de 1 de janeiro
# de 2019 a 7 de dezembro de 2022

In [7]:
for i in range(0,len(paths)):
    buttonClick =driver.find_element_by_xpath(paths[i])
    time.sleep(2)
    buttonClick.click()

<ipython-input-7-1a59c98cb16d>:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  buttonClick =driver.find_element_by_xpath(paths[i])

In [ ]:
# Expande 45 vezes o botão Load More até exibir todas as datas desejadas

In [8]:
LOAD_MORE_BUTTON_XPATH ='//*[@id="__next"]/div/div[1]/div[2]/div/div[3]/div/div/div[1]/p[1]' 
for i in range(0,45):
    try:
        loadMoreButton =driver.find_element_by_xpath(LOAD_MORE_BUTTON_XPATH )
        time.sleep(2)
        loadMoreButton.click()
        time.sleep(1)
    except Exception as e:
        print(e)
        break
print ("Complete")
time.sleep(10)

<ipython-input-8-820e83af9f5a>:4: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  loadMoreButton =driver.find_element_by_xpath(LOAD_MORE_BUTTON_XPATH )

Complete

In [9]:
# Captura todos os elementos th da tabela (colunas da tabela)
header=driver.find_elements_by_tag_name('th')
for headerEl in header:
    print(headerEl.text)

<ipython-input-9-c46673812d3b>:2: DeprecationWarning: find_elements_by_tag_name is deprecated. Please use find_elements(by=By.TAG_NAME, value=name) instead
  header=driver.find_elements_by_tag_name('th')

Date
Open*
High
Low
Close**
Volume
Market Cap

In [ ]:
# Captura todos os elementos td da tabela(linhas da tabela)

In [11]:
data=driver.find_elements_by_tag_name('td')

<ipython-input-11-1341e35503b5>:1: DeprecationWarning: find_elements_by_tag_name is deprecated. Please use find_elements(by=By.TAG_NAME, value=name) instead
  data=driver.find_elements_by_tag_name('td')

In [ ]:
# Create column names for the final dataframe

In [12]:
cols=[]
for h in header:
    cols.append(h.text)

In [ ]:
# Move cada cada 7 itens para uma posição da array rows

In [ ]:
x=[]
rows=[]
for i in range(0,len(data),7):
    for z in range(0,7):
        x.append([data[i+z].text])
    rows.append(x)
    x=[]

In [ ]:
# Cria o dataframe btc_dataframe com os nomes das colunas presentes em cols 
#e datas e preços presentes em rows.

In [93]:
btc_dataframe=pd.DataFrame(rows,columns=cols)

In [94]:
btc_dataframe

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,"[Dec 07, 2022]","[$17,089.51]","[$17,109.38]","[$16,750.56]","[$16,848.13]","[$19,675,404,389]","[$323,943,465,219]"
1,"[Dec 06, 2022]","[$16,975.24]","[$17,091.86]","[$16,939.92]","[$17,089.50]","[$19,889,922,369]","[$328,566,216,152]"
2,"[Dec 05, 2022]","[$17,128.89]","[$17,378.15]","[$16,922.43]","[$16,974.83]","[$22,209,086,834]","[$326,346,115,860]"
3,"[Dec 04, 2022]","[$16,908.17]","[$17,157.77]","[$16,903.44]","[$17,130.49]","[$16,824,520,830]","[$329,323,845,089]"
4,"[Dec 03, 2022]","[$17,090.10]","[$17,116.04]","[$16,888.14]","[$16,908.24]","[$16,217,776,704]","[$325,037,180,855]"
...,...,...,...,...,...,...,...
1491,"[Nov 06, 2018]","[$6,433.38]","[$6,463.55]","[$6,408.16]","[$6,461.01]","[$4,700,040,000]","[$112,095,603,776]"
1492,"[Nov 05, 2018]","[$6,363.62]","[$6,480.59]","[$6,363.62]","[$6,419.66]","[$4,174,800,000]","[$111,456,211,022]"
1493,"[Nov 04, 2018]","[$6,365.47]","[$6,388.63]","[$6,294.57]","[$6,376.13]","[$4,390,020,000]","[$110,689,215,104]"
1494,"[Nov 03, 2018]","[$6,387.24]","[$6,400.07]","[$6,342.37]","[$6,361.26]","[$3,658,640,000]","[$110,421,212,888]"
1495,"[Nov 02, 2018]","[$6,378.92]","[$6,396.86]","[$6,327.38]","[$6,388.44]","[$4,234,870,000]","[$110,880,236,966]"

In [ ]:
#  Converte os dados para string e remove os colchetes

In [95]:
for i in range(0,len(btc_dataframe)):
    for x in range(0,6):
        btc_dataframe.iloc[i][x]=str(btc_dataframe.iloc[i][x]).replace('[','').replace(']','')

In [110]:
btc_dataframe

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,"'Dec 07, 2022'","'$17,089.51'","'$17,109.38'","'$16,750.56'","'$16,848.13'","'$19,675,404,389'","[$323,943,465,219]"
1,"'Dec 06, 2022'","'$16,975.24'","'$17,091.86'","'$16,939.92'","'$17,089.50'","'$19,889,922,369'","[$328,566,216,152]"
2,"'Dec 05, 2022'","'$17,128.89'","'$17,378.15'","'$16,922.43'","'$16,974.83'","'$22,209,086,834'","[$326,346,115,860]"
3,"'Dec 04, 2022'","'$16,908.17'","'$17,157.77'","'$16,903.44'","'$17,130.49'","'$16,824,520,830'","[$329,323,845,089]"
4,"'Dec 03, 2022'","'$17,090.10'","'$17,116.04'","'$16,888.14'","'$16,908.24'","'$16,217,776,704'","[$325,037,180,855]"
...,...,...,...,...,...,...,...
1491,"'Nov 06, 2018'","'$6,433.38'","'$6,463.55'","'$6,408.16'","'$6,461.01'","'$4,700,040,000'","[$112,095,603,776]"
1492,"'Nov 05, 2018'","'$6,363.62'","'$6,480.59'","'$6,363.62'","'$6,419.66'","'$4,174,800,000'","[$111,456,211,022]"
1493,"'Nov 04, 2018'","'$6,365.47'","'$6,388.63'","'$6,294.57'","'$6,376.13'","'$4,390,020,000'","[$110,689,215,104]"
1494,"'Nov 03, 2018'","'$6,387.24'","'$6,400.07'","'$6,342.37'","'$6,361.26'","'$3,658,640,000'","[$110,421,212,888]"
1495,"'Nov 02, 2018'","'$6,378.92'","'$6,396.86'","'$6,327.38'","'$6,388.44'","'$4,234,870,000'","[$110,880,236,966]"